#slider {
    
    height: 400px;
    width: 700px;
    overflow: hidden;/* for display */
    
}
#slider .slides{
      display: block;
    width:2100px;
    height:400px;
    margin:0 ;
    padding: 0;
}

#slider .slide {
  float:left;
  list-style-type: none;
   
    height: 400px;
    width: 700px;
    
}
