body{
	background-image: url("argo.png");
}
.container {
  max-width: 600px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container div {
  background-color: rgb(7, 128, 128);
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 180px;
}

.prev {
  left: 180px;
}
